pch, nch {
	padding		: 10px;
	display		: block;
	border		: 1px solid
}

pch {layer		: PIMP;}
nch {layer		: NIMP;}

fet {
	visibility	: visible;
	padding		: 40nm;
	margin		: 20nm;
	padding		: 8px;
	margin		: 4px;
}
